
:root {
    --hovercolor: #2874f0;
    --navcolor: #000000;
    --textcolor:  #ffffff !important;
    
}
#root{
    margin-top: 60px !important;
}
body{
    color: var(--textcolor);
}
.navbar{
    box-shadow: rgb(177 174 174) 0px 0px 5px 1px;
    background-color:  var(--navcolor)!important;
}
.navbar-nav a:hover{
     background-color: var(--hovercolor) !important;
     color: rgb(255, 255, 255);
  }
  .offcanvas.show{
    box-shadow: rgb(177 174 174) 0px 0px 5px 1px;
    background-color:  var(--navcolor)!important;
}

.nav-link.active {
    color: white;
  }

.btn_color{
   background-color: var(--hovercolor);
   color: rgb(255, 255, 255);
   width: 100px;
   border-radius: 10px;
   border: 0px;
}

.nav_m{
    margin-left: 10px;
    margin-right: 10px;
}